<div class="hero">
  <div class="name">{{name}}</div>
  <div class="portrait">
    <img src="{{imagesrc}}"></img>
  </div>


  <div class="skills">
    <ul class="skilllist">
    <li ng-repeat="ability in abilities">
      <img src="{{ability.img}}"></img>

      <!--<div ng-bind-html-unsafe="ability.dname"></div>
      <div ng-bind-html-unsafe="ability.desc"></div>
      <div ng-bind-html-unsafe="ability.attrib"></div>
      <div ng-bind-html-unsafe="ability.affects"></div>-->
    </li>
  <!--    <li><img src="http://media.steampowered.com/apps/dota2/images/abilities/earthshaker_fissure_hp1.png"></img></li>
      <li><img src="http://media.steampowered.com/apps/dota2/images/abilities/earthshaker_fissure_hp1.png"></img></li>
      <li><img src="http://media.steampowered.com/apps/dota2/images/abilities/earthshaker_fissure_hp1.png"></img></li>
      <li><img src="http://media.steampowered.com/apps/dota2/images/abilities/earthshaker_fissure_hp1.png"></img></li>-->
    </ul>
  </div>


  <div class="roles">
    <div>1</div>
    <div>1</div>
    <div>1</div>
  </div>

</div>

